
/** Nucleus Theme for Obsidian v1.0

By [Lukalot](https://github.com/Lukalot)

Nucleus is a sleek, carefully designed offshoot of the
Obsidian Dark theme that holds true to the original styling.

Features
- Totally redesigned tag styling
- Richer blacks
- Improvements and integration for several plugins
	- Calendar by [liamcain](https://github.com/liamcain/)
  - Code Block Copying by [jdbrice](https://github.com/jdbrice)
and more
**/

.theme-dark
{
  /* OPTIONS */

  /* offsets tags to compensate for the padding
     set this value to -6 if you want to compensate padding
     however this makes inline tags somewhat ugly
  */
  --tag-offset-compensate: -0px;







  /* END OPTIONS (sort of) --------------------------------- */

  /*text and graph backgroung*/
  --background-primary: #19191B;
  
  /*special sections such as dropdown menus and borders*/
  --background-primary-alt: #151517;

  /*sidebars*/
  --background-secondary: #111113;
  
  /*control bars*/
  --background-secondary-alt: black;

  /* --background-modifier-border: black; */
  --background-modifier-border: #303039;

  /*accents*/
  --interactive-accent: #483699;
  --interactive-accent-hover: #5841be;
  --interactive-accent-secondary: #00CC6A;
  --interactive-accent-secondary-dark: #008545;
  --text-accent: #7f6df2;
  --text-accent-hover: #8875ff;

  /*Effects Calendar hover*/
  --interactive-hover: black !important;
  
  --heading-indicator-offset: -23px;
}

.theme-dark .graph-view.color-fill-tag {
  color: var(--interactive-accent);
}

.theme-dark .graph-view.color-fill-attachment {
  /*color: #3CFFB1;*/ /*Brighter*/
  color: var(--interactive-accent-secondary);
}

/* Copy code button integration*/
.copy-code-button {
  border-radius: 4px !important;
  margin-right: 6px !important;
  margin-top: 6px !important;
  background-color: var(--interactive-accent) !important;
  color: black !important;
}

/*customize tags*/
.tag {
  /*sink the background left (so that tags text stays aligned)*/
  position: relative;
  left: var(--tag-offset-compensate) !important;

  /*curve corners*/
  border-radius: 4px;

  background-color: var(--background-secondary-alt);

  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  padding-bottom: 3px;
}

.cm-hashtag {
  color: var(--interactive-accent-hover) !important;
}

.cm-hashtag[class*=" cm-tag--"] {
  color: var(--interactive-accent-secondary-dark) !important;
}

/* Special tag highlighting for meta tags*/
.tag[href^="#-"] {
  color: var(--interactive-accent-secondary) !important;
}

.tag[href^="#_"] {
  color: var(--interactive-accent-secondary) !important;
}
/*end customize tags*/

.view-header {
  height: 34px !important;
  border-top: 1px solid var(--background-secondary-alt);
  border-bottom: 4px solid var(--background-primary-alt) !important;
  /* outline: 4px solid var(--background-secondary) !important; */
}

.markdown-preview-view code {
  color: var(--interactive-accent-secondary)
}

.cm-hmd-codeblock {
  color: var(--interactive-accent-secondary)
}

.cm-s-obsidian span.cm-inline-code {
  color: var(--interactive-accent-secondary)
}

/*Editor Cursor*/
.CodeMirror-cursor
{
  border-left: 1px solid white;
}

/* condense line spacing on file explorer title list. also avoids character-level word breaks */
.nav-file-title-content,
.search-result-file-title,
.search-result-file-match
{
  padding-top: 1 !important;
  padding-bottom: 1 !important;
  line-height: normal !important;
  word-break: keep-all;
} 

/* Calendar improvements */
#calendar-container {
  --color-background-day-empty: var(--background-nav);
}
.svelte-15nltuc {
  border-radius: 4px;
}

/* remote secondary scroll bar in editor that comes from adding variable padding */
.CodeMirror-scroll::-webkit-scrollbar {
  display: none;
}

/* add some header prefix in preview */
.markdown-preview-section h1::before
{
  position: absolute;
  transform: translateX(var(--heading-indicator-offset));
  content: 'H1 ';
  font-size: 12px;
  color: var(--text-faint)
}

.markdown-preview-section h2::before
{
  position: absolute;
  transform: translateX(var(--heading-indicator-offset));
  content: 'H2';
  font-size: 12px;
  color: var(--text-faint)
}

.markdown-preview-section h3::before
{
  position: absolute;
  transform: translateX(var(--heading-indicator-offset));
  content: 'H3';
  font-size: 12px;
  color: var(--text-faint)
}

.markdown-preview-section h4::before
{
  position: absolute;
  transform: translateX(var(--heading-indicator-offset));
  content: 'H4';
  font-size: 12px;
  color: var(--text-faint)
}

.markdown-preview-section h5::before
{
  position: absolute;
  transform: translateX(var(--heading-indicator-offset));
  content: 'H5';
  font-size: 12px;
  color: var(--text-faint)
}

.markdown-preview-section h6::before
{
  position: absolute;
  transform: translateX(var(--heading-indicator-offset));
  content: 'H6';
  font-size: 12px;
  color: var(--text-faint)
}

#graph-view-canvas .links
{
  stroke: var(--interactive-accent-rgb) !important;
}